            <section class="section projects-section">
                <h2 class="section-title">
                    <i class="fa {{ .Site.Params.projects.icon }}"></i>
                    {{ if (isset .Site.Params.projects "title" ) }}
                    {{ .Site.Params.projects.title }}
                    {{ else }}
                    {{ i18n "projects" }}
                    {{ end }}
                </h2>
                <div class="intro">
                    <p>{{ with .Site.Params.projects.intro }}{{ . | markdownify }}{{ end }}</p>
                </div>
                <!--//intro-->

                {{ range .Site.Params.projects.list }}
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <span class="project-title"><a href="{{ .url }}">{{ .title }}</a></span>
                            <div class="time">{{ .dates }}</div>
                        </div>
                        <div class="company"><i class="fa fa-code"></i> {{ .stack }}</div>
                    </div>
                    <div class="details">
                        <p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
                    </div>
                </div>

                {{ end }}
            </section>
            <!--//section-->
