            <section class="section summary-section">
                <h2 class="section-title">
                    <i class="fa {{ .Site.Params.summary.icon }}"></i>
                    {{ if (isset .Site.Params.summary "title" ) }}
                    {{ .Site.Params.summary.title }}
                    {{ else }}
                    {{ i18n "summary" }}
                    {{ end }}
                </h2>
                <div class="summary">
                    <p>{{ with .Site.Params.summary.summary }}{{ . | markdownify }}{{ end }}</p>
                </div>
                <!--//summary-->
            </section>
            <!--//section-->
